@{
    Layout = "~/Shared/_Layout.cshtml";  
    PageData["Title"] = "NR6Pack - Analyzers";
}

<div class="container">

    <h2>Supported Code Analyzers</h2>
    <p>89 code analyzers available!</p>
    <ul>
      <li>Suggests using the class declaring a static function when calling it (AccessToStaticMemberViaDerivedTypeAnalyzer)</li>
      <li>When initializing explicitly typed local variable or array type, array creation expression can be replaced with array initializer. (ArrayCreationCanBeReplacedWithArrayInitializerAnalyzer)</li>
      <li>Base parameter has 'params' modifier, but missing in overrider (BaseMemberHasParamsAnalyzer)</li>
      <li>Call to base member with implicit default parameters (BaseMethodCallWithDefaultParameterAnalyzer)</li>
      <li>Parameter name differs in base declaration (BaseMethodParameterNameMismatchAnalyzer)</li>
      <li>Bitwise operation on enum which has no [Flags] attribute (BitwiseOperatorOnEnumWithoutFlagsAnalyzer)</li>
      <li>Finds potentially erroneous calls to Object.Equals (CallToObjectEqualsViaBaseAnalyzer)</li>
      <li>Type check and casts can be replaced with 'as' and null check (CanBeReplacedWithTryCastAndCheckForNullAnalyzer)</li>
      <li>Possible compare of value type with 'null' (CompareNonConstrainedGenericWithNullAnalyzer)</li>
      <li>Comparison of floating point numbers with equality operator (CompareOfFloatsByEqualityOperatorAnalyzer)</li>
      <li>'?:' expression has identical true and false branches (ConditionalTernaryEqualBranchAnalyzer)</li>
      <li>Expression is always 'true' or always 'false' (ConditionIsAlwaysTrueOrFalseAnalyzer)</li>
      <li>Condition is always 'true' or always 'false' (ConstantConditionAnalyzer)</li>
      <li>Convert anonymous method to method group (ConvertClosureToMethodGroupAnalyzer)</li>
      <li>'?:' expression can be converted to '??' expression (ConvertConditionalTernaryToNullCoalescingAnalyzer)</li>
      <li>Convert 'if-do-while' to 'while' statement (ConvertIfDoToWhileAnalyzer)</li>
      <li>Convert 'if' to '?:' (ConvertIfStatementToConditionalTernaryExpressionAnalyzer)</li>
      <li>'if' statement can be re-written as 'switch' statement (ConvertIfStatementToSwitchStatementAnalyzer)</li>
      <li>Convert 'if' to '&amp;&amp;' expression (ConvertIfToAndExpressionAnalyzer)</li>
      <li>Convert 'if' to '||' expression (ConvertIfToOrExpressionAnalyzer)</li>
      <li>Convert 'Nullable&lt;T&gt;' to the short form 'T?' (ConvertNullableToShortFormAnalyzer)</li>
      <li>If all fields, properties and methods members are static, the class can be made static. (ConvertToStaticTypeAnalyzer)</li>
      <li>Delegate subtraction has unpredictable result (DelegateSubtractionAnalyzer)</li>
      <li>Warns about calls to virtual member functions occuring in the constructor (DoNotCallOverridableMethodsInConstructorAnalyzer)</li>
      <li>Double negation is redundant (DoubleNegationOperatorAnalyzer)</li>
      <li>An empty public constructor without paramaters is redundant. (EmptyConstructorAnalyzer)</li>
      <li>Empty destructor is redundant (EmptyDestructorAnalyzer)</li>
      <li>Empty control statement body (EmptyEmbeddedStatementAnalyzer)</li>
      <li>A catch clause that catches System.Exception and has an empty body (EmptyGeneralCatchClauseAnalyzer)</li>
      <li>Empty namespace declaration is redundant (EmptyNamespaceAnalyzer)</li>
      <li>Empty statement is redundant (EmptyStatementAnalyzer)</li>
      <li>The default underlying type of enums is int, so defining it explicitly is redundant. (EnumUnderlyingTypeIsIntAnalyzer)</li>
      <li>Event unsubscription via anonymous delegate is useless (EventUnsubscriptionViaAnonymousDelegateAnalyzer)</li>
      <li>Convert field to readonly (FieldCanBeMadeReadOnlyAnalyzer)</li>
      <li>'true' is redundant as for statement condition (ForStatementConditionIsTrueAnalyzer)</li>
      <li>If an extension method is called as static method convert it to method syntax (InvokeAsExtensionMethodAnalyzer)</li>
      <li>Lowercase 'l' is often confused with '1' (LongLiteralEndingLowerLAnalyzer)</li>
      <li>Suggest the usage of the nameof operator (NameOfSuggestionAnalyzer)</li>
      <li>Non public methods are not found by NUnit (NonPublicMethodWithTestAttributeAnalyzer)</li>
      <li>Shows NotImplementedException throws in the quick task bar (NotImplementedExceptionAnalyzer)</li>
      <li>Cannot resolve symbol in text argument (NotResolvedInTextAnalyzer)</li>
      <li>Possible unassigned object created by 'new' (ObjectCreationAsStatementAnalyzer)</li>
      <li>Operator Is can be used instead of comparing object GetType() and instances of System.Type object (OperatorIsCanBeUsedAnalyzer)</li>
      <li>C# doesn't support optional 'ref' or 'out' parameters (OptionalParameterRefOutAnalyzer)</li>
      <li>Class is declared partial but has only one part (PartialTypeWithSinglePartAnalyzer)</li>
      <li>Possible mistaken call to 'object.GetType()' (PossibleMistakenCallToGetTypeAnalyzer)</li>
      <li>Constructor in abstract class should not be public (PublicConstructorInAbstractClassAnalyzer)</li>
      <li>Redundant explicit property name (RedundantAnonymousTypePropertyNameAnalyzer)</li>
      <li>Redundant explicit argument name specification (RedundantArgumentNameAnalyzer)</li>
      <li>Parentheses are redundant if attribute has no arguments (RedundantAttributeParenthesesAnalyzer)</li>
      <li>'base.' is redundant and can safely be removed (RedundantBaseQualifierAnalyzer)</li>
      <li>Redundant case label (RedundantCaseLabelAnalyzer)</li>
      <li>Redundant empty 'default' switch branch (RedundantEmptyDefaultSwitchBranchAnalyzer)</li>
      <li>Removes 'private' modifiers that are not required (RedundantPrivateAnalyzer)</li>
      <li>Redundant conditional expression (RedundantTernaryExpressionAnalyzer)</li>
      <li>Remove redundant statement (RemoveRedundantOrStatementAnalyzer)</li>
      <li>Replace with call to FirstOrDefault&lt;T&gt;() (ReplaceWithFirstOrDefaultAnalyzer)</li>
      <li>Replace with call to LastOrDefault&lt;T&gt;() (ReplaceWithLastOrDefaultAnalyzer)</li>
      <li>Replace with call to OfType&lt;T&gt; (ReplaceWithOfTypeAnalyzer)</li>
      <li>Replace with call to OfType&lt;T&gt;().Any() (ReplaceWithOfTypeAnyAnalyzer)</li>
      <li>Replace with call to OfType&lt;T&gt;().Count() (ReplaceWithOfTypeCountAnalyzer)</li>
      <li>Replace with call to OfType&lt;T&gt;().First() (ReplaceWithOfTypeFirstAnalyzer)</li>
      <li>Replace with call to OfType&lt;T&gt;().FirstOrDefault() (ReplaceWithOfTypeFirstOrDefaultAnalyzer)</li>
      <li>Replace with call to OfType&lt;T&gt;().Last() (ReplaceWithOfTypeLastAnalyzer)</li>
      <li>Replace with call to OfType&lt;T&gt;().LastOrDefault() (ReplaceWithOfTypeLastOrDefaultAnalyzer)</li>
      <li>Replace with call to OfType&lt;T&gt;().LongCount() (ReplaceWithOfTypeLongCountAnalyzer)</li>
      <li>Replace with call to OfType&lt;T&gt;().Single() (ReplaceWithOfTypeSingleAnalyzer)</li>
      <li>Replace with call to OfType&lt;T&gt;().SingleOrDefault() (ReplaceWithOfTypeSingleOrDefaultAnalyzer)</li>
      <li>Replace with call to OfType&lt;T&gt;().Where() (ReplaceWithOfTypeWhereAnalyzer)</li>
      <li>Replace with simple assignment (ReplaceWithSimpleAssignmentAnalyzer)</li>
      <li>Redundant Where() call with predicate followed by Any() (ReplaceWithSingleCallToAnyAnalyzer)</li>
      <li>Redundant Where() call with predicate followed by Count() (ReplaceWithSingleCallToCountAnalyzer)</li>
      <li>Redundant Where() call with predicate followed by First() (ReplaceWithSingleCallToFirstAnalyzer)</li>
      <li>Redundant Where() call with predicate followed by FirstOrDefault() (ReplaceWithSingleCallToFirstOrDefaultAnalyzer)</li>
      <li>Redundant Where() call with predicate followed by Last() (ReplaceWithSingleCallToLastAnalyzer)</li>
      <li>Redundant Where() call with predicate followed by LastOrDefault() (ReplaceWithSingleCallToLastOrDefaultAnalyzer)</li>
      <li>Redundant Where() call with predicate followed by LongCount() (ReplaceWithSingleCallToLongCountAnalyzer)</li>
      <li>Redundant Where() call with predicate followed by Single() (ReplaceWithSingleCallToSingleAnalyzer)</li>
      <li>Redundant Where() call with predicate followed by SingleOrDefault() (ReplaceWithSingleCallToSingleOrDefaultAnalyzer)</li>
      <li>'sealed' modifier is redundant in sealed classes (SealedMemberInSealedClassAnalyzer)</li>
      <li>Conditional expression can be simplified (SimplifyConditionalTernaryExpressionAnalyzer)</li>
      <li>Warns when a culture-aware 'string.CompareTo' call is used by default (StringCompareToIsCultureSpecificAnalyzer)</li>
      <li>Warns when a culture-aware 'EndsWith' call is used by default. (StringEndsWithIsCultureSpecificAnalyzer)</li>
      <li>Warns when a culture-aware 'IndexOf' call is used by default. (StringIndexOfIsCultureSpecificAnalyzer)</li>
      <li>Warns when a culture-aware 'LastIndexOf' call is used by default. (StringLastIndexOfIsCultureSpecificAnalyzer)</li>
      <li>Warns when a culture-aware 'StartsWith' call is used by default. (StringStartsWithIsCultureSpecificAnalyzer)</li>
      <li>Use 'var' keyword when possible (SuggestUseVarKeywordEvidentAnalyzer)</li>
      <li>[ThreadStatic] doesn't work with instance fields (ThreadStaticAtInstanceFieldAnalyzer)</li>
      <li>Warns about property or indexer setters and event adders or removers that do not use the value parameter (ValueParameterNotUsedAnalyzer)</li>
    </ul>

    <h2>Additional Supported Code Fixes</h2>
    <p>9 code fixes available!</p>
    <ul>
      <li>CS0108UseNewKeywordIfHidingIntendedCodeFixProvider</li>
      <li>CS0152DuplicateCaseLabelValueCodeFixProvider</li>
      <li>CS0162UnreachableCodeDetectedCodeFixProvider</li>
      <li>CS0164LabelHasNotBeenReferencedCodeFixProvider</li>
      <li>CS0759RedundantPartialMethodCodeFixProvider</li>
      <li>CS1105ExtensionMethodMustBeDeclaredStaticCodeFixProvider</li>
      <li>CS1520MethodMustHaveAReturnTypeCodeFixProvider</li>
      <li>InvalidConversionCodeFixProvider</li>
      <li>ReturnMustNotBeFollowedByAnyExpressionCodeFixProvider</li>
    </ul>

</div>