@{
    Layout = "~/Shared/_Layout.cshtml";  
    PageData["Title"] = "NR6Pack - Contact";
}

<div class="container">

    <h2>Contact</h2>

    <p>We have a core team of contributors that regularly monitors the following public places:</p>

    <ul>
        <li>Visual Studio Gallery Q&amp;A as well as reviews <a href="https://visualstudiogallery.msdn.microsoft.com/68c1575b-e0bf-420d-a94b-1b0f4bcdcbcc">go</a></li>
        <li>NRefactory GitHub issues (use the NR6Pack label) <a href="https://github.com/icsharpcode/NRefactory/issues">go</a></li>
        <li>SharpDevelop Twitter account <a href="https://twitter.com/sharpdevelop">go</a></li>
    </ul>

    <p>
        Please use these means of communication to reach the team, or open a StackOverflow discussion and tweet us &#64;sharpdevelop.
    </p>

    <h2>The Core Team</h2>
    @*Sorted by first name*@
    <ul>
        <li><a href="https://twitter.com/a_rpinski">Andreas Weizel</a> - Working on NR6Pack, analyzers (code issues) and refactorings (code actions)</li>
        <li><a href="https://twitter.com/grunwalddaniel">Daniel Grunwald</a> - Architected NRefactory 5 and the entire stack of services</li>
        <li><a href="https://twitter.com/mikrueger">Mike Kr&uuml;ger</a> - Works on the IDE (services) side of the house of NRefactory, these days mostly version 6; did all the v5 to v6 porting work</li>
        <li><a href="https://twitter.com/pammersiegfried">Siegfried Pammer</a> - Working on NR6Pack, set up the project infrastructure for Roslyn Nugets, working on all things NRefactory</li>
    </ul>

</div>