@{
    Layout = "~/Shared/_Layout.cshtml";  

    PageData["Title"] = "NR6Pack";
}


    <div class="container">
      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>NR6Pack for Visual Studio 2015</h1>
        <p>NR6Pack is a collection of refactorings and analyzers from the NRefactory open-source project packaged specifically for VS 2015.</p>
        <p>
          <a class="btn btn-lg btn-primary" href="https://visualstudiogallery.msdn.microsoft.com/68c1575b-e0bf-420d-a94b-1b0f4bcdcbcc" role="button">Install &raquo;</a>
        </p>
      </div>

      <div class="bs-docs-section">

        <div class="row">
          <div class="col-lg-4">
            <div class="bs-component">
              <ul class="list-group">
                <li class="list-group-item">
                  <span class="badge">71</span>
                  Refactorings
                </li>
                <li class="list-group-item">
                  <span class="badge">73</span>
                  Analyzers
                </li>
              </ul>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="bs-component">
              <div class="panel panel-success">
                <div class="panel-heading">
                  <h3 class="panel-title">It is free!</h3>
                </div>
                <div class="panel-body">
                  Yes! And open source (MIT license) on top of it. Spread the word, let the community know that you are using NR6Pack!
                </div>
               </div>
            </div>
           </div>

          <div class="col-lg-4">
            <div class="bs-component">
              <div class="panel panel-info">
                <div class="panel-heading">
                  <h3 class="panel-title">Contributing</h3>
                </div>
                <div class="panel-body">
                  Feedback is contributing - let us know what to improve, rate us in the gallery!
                  For code-centric contributions, please go to <a href="http://nrefactory.net/">our GitHub page</a>.
                </div>
               </div>
            </div>
           </div>
          </div>

      </div>

    </div> <!-- /container -->


