@{
    Layout = "~/Shared/_Layout.cshtml";  
    PageData["Title"] = "NR6Pack - Videos";
}

<div class="container">

    <h2>Tutorials</h2>

    <p>Demonstration videos of NR6Pack will be available on Youtube.</p>

</div>